# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000

# Socket Configuration - يجب تغييرها إلى 5001
NEXT_PUBLIC_SOCKET_URL=http://localhost:5001

# Frontend URL
FRONTEND_URL=http://localhost:3000

